*{
	margin: 0;
	box-sizing: border-box;
}
}
#top{
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0);
}
#top a{
	text-decoration: none;
	float: left;
	text-align: center;
	display: block;/* 按元素块状显示 */
	padding:20px 10px;
	color:white;
	margin-left: 50px;
}
#top a:hover{
	background-color: blueviolet;
	color: orange;
}
.right{
	background-color: blueviolet;
	border: 1px hidden;
	border-radius: 0.9375rem;
	margin-top: 10px;
	margin-right: 5px;
	height: 4px;
	line-height: 4px;
}

.leftcolumn {
    float: left;
    width: 10%;
}

.centercolumn {
    margin: auto;
    width: 80%;
    height:1000px;
    padding: 10px;
    
}
.rightcolumn {
    float: left;
    width: 10%;
}

/* 文章卡片 */
.card {
    background-color:rgba(255,255,255,0.5);
    padding: 20px;
    margin-top: 20px;
    border-radius: 50px;
    
}
#biaoti {
    text-align: center;
}
#qita {
    text-align: right;
}
/* 列后面清除浮动 */
.row:after {
    content: "";
    display: table;
    clear: both;
}
#bottom{
	background-color: bisque;
	text-align: center;
	
}
.img{
	width: 3.125rem;
	height: 20px;
}
/* 下方图片 */