*{
	margin:0 ;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body{
	background-image: url(../imges/R-C.jpg);
	background-color: rgba(162, 187, 250,0.5);
	background-size: cover;
}
/*导航的超链接*/
.nav_daohan ul li{
	margin: 10px;
}
.nav_daohan ul li a{
	text-decoration: none;
	color: black;
	font-size: 20px;
}
.nav{
	background: rgba(162, 187, 250,0.6);
	height: 70px;
}
.nav:hover{
	animation:nav1 5s ease-in-out 5;
}
@keyframes nav1{
	0%{
	background: rgba(249, 109, 75,0.5);	
	}
	25%{
		background: rgba(255, 181, 127,0.5);
		
	}
	50%{
		background: rgba(116, 138, 125,0.6);
	}
	100%{background: rgba(122, 9, 79,0.5);}
}
.nav_left{
	float: left;
	margin-left: 10px;
	width: 130px;
	border: 1px solid rgb(194, 106, 110);
	background: rgb(194, 106, 110);
	line-height: 70px;
	height: 10px;
	transition: 2.5s ease-in-out;
} 
.nav_left:hover{
	width: 150px;
	 height: 60px;
	 border-radius: 50px;
}
.nav_left img{
	width: 40px;
	height: 40px;
	border-radius: 20px;
}
.nav_left a{
	font-family: "微软雅黑";
	font-size: 20px;
	text-decoration: none;
	color: white;
}
.nav_right{
	border: 1px solid rgb(194, 106, 110);
	background: rgb(194, 106, 110);
	height: 10px;
	/*transition: 1.3s ease-in-out;*/
	float: right;
	width: 250px;
}
/*.nav_right:hover{
	width: 135px;
	 height: 70px;
	border-radius: 10px;*/
.nav_right ul li {
	margin-left: 20px;
	float: right;
	line-height: 70px;
	float: left;
	text-align: center;
}
.nav_right ul li a{
	text-decoration: none;
	color: white;
}
.nav_right ul li a:hover{
	width: 55px;
	 height: 70px;
	/*border-radius: 10px;*/
	background: orange;
	display: block;
}
/*底部*/

.button{
	background-color:rgba(253, 253, 253,0.7);
	height: 100px;
}
.button p{
	text-align: center;
	color: black;
}
.button img{
	width: 45px;
	height: 16px;
}


