*{
	margin: 0 auto;
	padding: 0 auto;
}
body{
	background-color: thistle;
}
div{
	width: 500px;
	margin:0 auto;
}
div p{
	font-family: "楷体";
	text-align: center;
	font-size: 30px;
}
div img{
	width: 500px;
	margin: auto;
	border-radius: 20px;
}
div a{
	text-align: center;
	font-size: 30px;
	font-family: "楷体";
	color: white;
	width: 100px;
	height: 40px;
	text-decoration: none;
	border: 1px solid rgba(30, 24, 26);
	display: block;
	background: rgb(30, 24, 26);
	border-radius: 10px;
}
.button{
	background-color:rgba(253, 253, 253,0.7) ;
	height: 100px;
}
.button p{
	text-align: center;
	color: rgb(99, 98, 97);
}
.button img{
	width: 45px;
	height: 16px;
}



